<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CyHill"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ForgotPasswordLogin"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".About"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:launchMode="singleTask"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBkrea0Q0zu700qjIhbt0rxkU0fq1iThwA" />

        <activity
            android:name=".NewsScreeen"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CyHill" />
        <activity
            android:name=".HillProgress"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CyHill" />
        <activity
            android:name=".PlayerInfoDetail"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CyHill" />
        <activity
            android:name=".PlayerInfoCreate"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CyHill" />
        <activity
            android:name=".PlayerInfo"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CyHill" />
        <activity
            android:name=".AdminTableSelection"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CyHill" />
        <activity
            android:name=".GameScreen"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CyHill" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CyHill">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android:dataExtractionRules"
            android:resource="@xml/data_extraction_rules"
            tools:targetApi="31" />

        <activity
            android:name=".NavBar"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CyHill" />
        <activity
            android:name=".SignIn"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CyHill">
        </activity>
    </application>

</manifest>